extends layout

block content
  h1= title

  - var items = results

  div(class="container-fluid")
    div(class="row")
      each s in items
        div(class="col-sm-2")
          p #{s.NAME}, #{s.AGE}, #{s.COLOR}