extends layout

block content
  h1= title
  form(id='eagleForm', action="/resource/eagle", method="POST")
    div.form-group-create
      label.eagleAttr1(for='NAME') eagle_Name
      input#eagle_Name(type='text', name='NAME')
    div.form-group-create
      label.eagleAttr2(for='AGE') eagle_Age 
      input#eagle_Age(type='Number', name='AGE')
    div.form-group-create
      label.eagleAttr3(for='COLOR') eagle_color
      input#eagle_color(type='text', name='COLOR')
    input(type="submit" class="button3")
    script.
      document.forms['eagleForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show the user that the form is being submitted
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Save succeeded")
          // TODO handle the body
        }).catch((error) => {
          // TODO handle the error in
          alert("Save failed " + error )
        });
      });