extends layout

block content
  h1= title
  - let eagleid = toShow._id
  - let eagle_NAME = toShow.NAME
  - let eagleAGE = toShow.AGE
  - let eagleCOLOR = toShow.COLOR

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{eagleid}

  - let actionid = "/resource/eagle/" + eagleid
  form(id='eagleForm', action= actionid, method="PUT")
    div.form-group
      label.eagleAttr(for='NAME') eagle_Name
      input#Name(type='text', name='NAME', value= NAME )
    div.form-group
      label.eagleAttr(for='AGE') eagle_Age
      input#Age(type='Number', name='AGE', value= AGE )
    div.form-group
      label.eagleAttr(for='COLOR') eagle_Color
      input#Color(type='text', name='COLOR', value= COLOR )
    input(type="submit")

    script.
      document.forms['eagleForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that the form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeeded");
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error );
        });
      });