extends layout

block content
  h1= title
  p Hello Eveyone, Welcome to my adda #{title}

  button(type="button", class="btn btn-success" onclick="goFaster()") Press Me
  div#faster Increase the speed 
  a(href="/eagle") Eagle Search Results
  script.
    let mph = 20;
    let change = 1;
    function goFaster() {
      mph += change;
      change += 1;
      document.getElementById('faster').textContent = `MPH ${mph} with change ${change}`; 
    }