body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.eagleAttr {
  background-color: aquamarine;
  width: 120px;
  }

.eagleAttr1 {
  background-color: lightskyblue;
  width: 120px;
  }

  .button3 {background-color: violet;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
  color:black;
  }

  .eagleAttr2 {
    background-color: white;
    width: 120px;
    }
    
    .eagleAttr3 {
      background-color: green;
      width: 120px;
      }

